
/* JTK styles */

.image:before {
	filter: gray;
	-webkit-filter: grayscale(1);
	visibility:hidden;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.image greyscale :hover {
	-webkit-filter: grayscale(0);
	filter:none;
	visibility:none;
}

.icon-row .devicon icon {
	height:200% !important;
	width:200%: !important;
}

#footer ul img{
	height:50px;
}

p.left {
	text-align:left;
}

@media screen and (max-width: 736px) {

	ul.featured-icons li .icon {
		width:30px;
		height:auto;
	}

	ul.featured-icons li .icon.fab.css3-alt {
		height:90%;
	}

	h2.leftOnSmall {
		text-align:left;
		margin-top:10px;
		margin-bottom:15px;
	}

	#banner .inner {
		color:white;
	}

	image.featured img {
		filter: gray;
		-webkit-filter: grayscale(0);
		visibility:hidden;
		-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
		filter: grayscale(0%);
	}
}
